# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore output files
output/
*.csv
*.txt

# Ignore system files
.DS_Store
Thumbs.db

#ignore files created with Gooseß
.goose/

#ignore debug-page from drpobox scrape
debug_page.html